<div class="footer h-screen">
  <div class="grid dir-rtl text-0 mt-8 mx-8">
    <div class="col-12 mt-8">للتواصل معنا</div>
    <div class="col-12">أرسل لنا بريد الكتروني</div>
    <div class="col-12"><i class="pi pi-envelope text-red-800"></i></div>
    <div class="col-12">اتصل بنا</div>
    <div class="col-12"><i class="pi pi-phone text-red-800"></i></div>
    <div class="col-12">عنوان مركزنا</div>
    <div class="col-12"><i class="pi pi-map-marker text-red-800"></i></div>
    <div class="col-12">تابعنا على مواقع التوصل الاجتماعي</div>
    <div class="col-12 grid">
      <div class="col-12 md:col-6">
        <i class="pi pi-linkedin text-red-800 mx-2"></i>
        <i class="pi pi-facebook text-red-800 mx-2"></i>
        <i class="pi pi-instagram text-red-800 mx-2"></i>
        <i class="pi pi-twitter text-red-800 mx-2"></i>
        <i class="pi pi-telegram text-red-800 mx-2"></i>
      </div>
      <div class="col-12 md:col-6">
        <input
          type="text"
          pInputText
          class="w-10"
          placeholder="أدخل بريدك الألكتروني ليتم تزويدك بأخبار و عروض قوقز"
        />
        <p-button
          label="  ارسال"
          styleClass="p-button-danger bg-red-800 mr-1"
        ></p-button>
      </div>
    </div>
  </div>
</div>
