<div class="grid my-4 mx-8">
  <div class="col-12">
    <p-card class="p-0 w-6">
      <div class="grid dir-rtl mr-7 mb-4">
        <div class="col-12">حمل السيرة الذاتية الخاصة بك</div>
        <div class="col-12">
          <button class="btn nav-button">حمل السيرة الذاتية</button>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 md:col-6 dir-rtl">
          <label for="" class="text-right block mx-8 mb-2"> الاسم الأول</label>
          <input type="text" pInputText class="w-8 mx-8" />
        </div>
        <div class="col-12 md:col-6 dir-rtl">
          <label for="" class="text-right block mx-8 mb-2"> الكنية </label>
          <input type="text" pInputText class="w-8 mx-8" />
        </div>
        <div class="col-12 md:col-6 dir-rtl">
          <label for="" class="text-right block mx-8 mb-2"
            >البريد الالكتروني</label
          >
          <input type="text" pInputText class="w-8 mx-8" />
        </div>
        <div class="col-12 md:col-6 dir-rtl">
          <label for="" class="text-right block mx-8 mb-2"> رقم الجوال </label>
          <input type="text" pInputText class="w-8 mx-8" />
        </div>
        <div class="col-12">
          <p-button
            label=" ارسال"
            styleClass="p-button-danger bg-red-800 w-8 md:w-10 mx-8"
            icon="pi pi-arrow-circle-left"
            style="direction: ltr"
          ></p-button>
        </div>
      </div>
    </p-card>
  </div>
</div>
