<div class="grid dir-rtl">
  <div class="col-12 my-4" *ngFor="let item of countries">
    <p-card styleClass="mx-8">
      <h3 class="text-red-800 text-center">
        {{ item.name }} إلى المحافظات الأخرى
      </h3>
      <p-divider></p-divider>
      <p-carousel
        [value]="item.prices"
        [numVisible]="6"
        [numScroll]="6"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
        [autoplayInterval]="3000"
        [style]="{ direction: 'ltr' }"
      >
        <ng-template
          let-country
          pTemplate="item"
          class="grid text-500 text-right"
        >
          <div class="col text-center">
            <div class="m-1">{{ country.countryName }}</div>
            <div class="m-1 mt-5 font-bold text-xl">{{ country.price }}</div>
          </div>
        </ng-template>
      </p-carousel>
    </p-card>
  </div>
  <!-- <div class="col-12 my-4">
    <p-card styleClass="mx-8">
      <h3 class="text-red-800 text-center">بغداد إلى المحافظات الأخرى</h3>
      <p-divider></p-divider>
      <div class="grid text-500 text-right">
        <div class="col text-center">
          <div class="m-1">بغداد</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">المحافظات الأخرى</div>
          <div class="m-1 mt-5 font-bold text-xl">6000</div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 my-4">
    <p-card styleClass="mx-8">
      <h3 class="text-red-800 text-center">الموصل إلى المحافظات الأخرى</h3>
      <p-divider></p-divider>
      <div class="grid text-500 text-right">
        <div class="col text-center">
          <div class="m-1">الموصل</div>
          <div class="m-1 mt-5 font-bold text-xl">4000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">أقضية الموصل</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">بغداد</div>
          <div class="m-1 mt-5 font-bold text-xl">6000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">المحافظات الشمالية</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">كركوك</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">المحافظات الأخرى</div>
          <div class="m-1 mt-5 font-bold text-xl">8000</div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 my-4">
    <p-card styleClass="mx-8">
      <h3 class="text-red-800 text-center">كركوك إلى المحافظات الأخرى</h3>
      <p-divider></p-divider>
      <div class="grid text-500 text-right">
        <div class="col text-center">
          <div class="m-1">كركوك</div>
          <div class="m-1 mt-5 font-bold text-xl">4000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">أقضية و نواحي كركوك</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">بغداد</div>
          <div class="m-1 mt-5 font-bold text-xl">6000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">المحافظات الشمالية</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">الموصل</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">المحافظات الأخرى</div>
          <div class="m-1 mt-5 font-bold text-xl">8000</div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-12 my-4">
    <p-card styleClass="mx-8">
      <h3 class="text-red-800 text-center">الموصل إلى المحافظات الأخرى</h3>
      <p-divider></p-divider>
      <div class="grid text-500 text-right">
        <div class="col text-center">
          <div class="m-1">السليمانية</div>
          <div class="m-1 mt-5 font-bold text-xl">4000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">أقضية السليمانية</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">أربيل</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">الموصل</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">دهوك</div>
          <div class="m-1 mt-5 font-bold text-xl">5000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">بغداد</div>
          <div class="m-1 mt-5 font-bold text-xl">6000</div>
        </div>
        <div class="col text-center">
          <div class="m-1">المحافظات الأخرى</div>
          <div class="m-1 mt-5 font-bold text-xl">8000</div>
        </div>
      </div>
    </p-card>
  </div> -->
</div>
