<header class="bg-header-main" style="margin: 0px" *ngIf="routeIndex == 0">
  <div class="header-bg">
    <app-nav-bar (chageRoute)="onChangeRoute($event)"></app-nav-bar>
    <div class="header-text">
      <h1><a class="header-title">القوقز</a> ... وسيلتك الآمنة لنقل البضائع</h1>
      <p>
        اضمن تسليم الشحنة بجودة عالية كما تم استلامها، سواء كانت الشحنة بضائع
        منوعة أو أدوات منزلية أو أمتعة شخصية لجميع محافظات العراق
      </p>
      <!-- <a href="#" class="btn">Get Started</a> -->
    </div>
    <div class="grid header-end">
      <div class="col">
        <h2>{{ statistics?.employee }}</h2>
        <div>موظف</div>
      </div>
      <div class="col">
        <h2>+{{ statistics?.shipmentFromGlobal }}</h2>
        <div>شحنات جارية من مواقع عالمية</div>
      </div>
      <div class="col">
        <h2>+{{ statistics?.contactCompanies }}</h2>
        <div>شركة متعاقدة</div>
      </div>
      <div class="col">
        <h2>{{ statistics?.shipment }}</h2>
        <div>شاحنة</div>
      </div>
      <div class="col">
        <h2>+{{ statistics?.clientCount }}</h2>
        <div>عميل نشط</div>
      </div>
      <div class="col pt-8">
        <svg
          width="64"
          height="64"
          viewBox="0 0 64 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="vuesax/bold/message-circle">
            <g id="vuesax/bold/message-circle_2">
              <g id="message-circle">
                <path
                  id="Vector"
                  d="M31.9997 5.33301C17.2797 5.33301 5.33301 17.2797 5.33301 31.9997C5.33301 46.7197 17.2797 58.6663 31.9997 58.6663C46.7197 58.6663 58.6663 46.7197 58.6663 31.9997C58.6663 17.2797 46.7197 5.33301 31.9997 5.33301ZM45.9997 34.1597C45.9997 34.613 45.973 35.0397 45.9197 35.4663C45.5197 40.1863 42.7197 42.533 37.5997 42.533H36.9063C36.4797 42.533 36.053 42.7463 35.7863 43.093L33.6797 45.893C32.7463 47.1463 31.253 47.1463 30.3197 45.893L28.213 43.093C27.973 42.7997 27.4663 42.533 27.093 42.533H26.3997C20.8263 42.533 17.9997 41.1463 17.9997 34.133V27.1197C17.9997 21.9997 20.373 19.1997 25.0663 18.7997C25.493 18.773 25.9463 18.773 26.3997 18.773H37.5997C43.173 18.773 45.9997 21.573 45.9997 27.173V34.1597Z"
                  fill="#880817"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</header>
<header
  class="bg-header-out-orders"
  style="margin: 0px"
  *ngIf="routeIndex == 4"
>
  <div class="header-bg">
    <app-nav-bar (chageRoute)="onChangeRoute($event)"></app-nav-bar>
    <div class="sub-header-text">
      <h1 class="text-right">تسوق من المواقع العالمية</h1>
    </div>
  </div>
</header>
<header class="bg-header-clients" style="margin: 0px" *ngIf="routeIndex == 3">
  <div class="header-bg">
    <app-nav-bar (chageRoute)="onChangeRoute($event)"></app-nav-bar>
    <div class="sub-header-text">
      <h1 class="text-right">عملاؤنا</h1>
    </div>
  </div>
</header>
<header
  class="bg-header-folow-order"
  style="margin: 0px"
  *ngIf="routeIndex == 2"
>
  <div class="header-bg">
    <app-nav-bar (chageRoute)="onChangeRoute($event)"></app-nav-bar>
    <div class="sub-header-text">
      <h1 class="text-right">تتبع شحنتك</h1>
    </div>
  </div>
</header>
<header
  class="bg-header-salary-orders"
  style="margin: 0px"
  *ngIf="routeIndex == 1"
>
  <div class="header-bg">
    <app-nav-bar (chageRoute)="onChangeRoute($event)"></app-nav-bar>
    <div class="sub-header-text">
      <h1 class="text-right">اسعارنا</h1>
    </div>
  </div>
</header>
<header class="bg-header-join-team" style="margin: 0px" *ngIf="routeIndex == 5">
  <div class="header-bg">
    <app-nav-bar (chageRoute)="onChangeRoute($event)"></app-nav-bar>
    <div class="sub-header-text">
      <h1 class="text-right">انضم لفريق العمل</h1>
    </div>
  </div>
</header>
